body {
    margin: 10px auto;
    width: 750px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

header, nav, section, footer {
    display: block;
    border: 1px solid blue;
    padding: 10px;
}

header {
    height: 80px;
    margin-bottom: 20px;
}

nav {
    float: left;
    width: 200px;
    height: 370px;
}

section {
    margin-left: 249px;
    width: 480px;
    height: 370px;
}

footer {
    margin-top: 20px;
    clear: both;
    height: 90px;
}
